Release
*.componentinfo.xml
.vs
Debug
VisualGDB
VisualGDB/VisualGDBCache
VisualGDB/Debug
VisualGDB/Release
# !VisualGDB/Release/GXB172.elf
# !VisualGDB/Release/GXB172.hex
# !VisualGDB/Release/GXB172.bin
# !VisualGDB/Release/GXB172.map
# !VisualGDB/Release/GXB172.lss
/*.vcxproj*
/*.vgdbsettings*
/*.sln
